dumps/RequestRawMemory.bin
dumps/ResponceRawMemory.bin
bin/kernal.elf
bin/kernel.img
bin/old_kernel.img
bin/obj/app/main.o
bin/obj/app/startup.o
bin/obj/boot/boardDectetion.o
bin/obj/boot/boot.o
bin/obj/boot/kernel.o
bin/obj/io/gpio.o
bin/obj/io/mailbox.o
bin/obj/io/memoryMappedIO.o
bin/obj/io/propertyTags.o
bin/obj/io/uart/mini_uart.o
bin/obj/io/uart/pl011_uart.o
bin/obj/io/uart/uart_puts_wrapper_functions.o
bin/obj/lib/central_block_memory_allocator.o
bin/obj/lib/clocks.o
bin/obj/lib/math.o
bin/obj/lib/memory.o
bin/obj/lib/string.o
.vscode/c_cpp_properties.json
.vscode/settings.json
