# This file, is a exapmple.

# A custom one should be made as part of callibration
# This example file is based of the callibration on my personal unit

# Not messured yet
SAMPLE_RATE_2_BIT = 0xFFFFFFFF

# 10.06 MHz
SAMPLE_RATE_8_BIT = 10060000

# Not messured yet
SAMPLE_RATE_16_BIT = 0xFFFFFFFF