# Sets the main app to open that will be used as the user interface
MAIN_INTERFACE_APP = "user/apps/mainmenu.cfg"

# If set to 0 the physical keypad is completly dissabled (defults to 1)
ALLOW_PHYSICAL_KEYPAD = 1

# The delay between keypad frames for the physcial keypad (in milliseconds) (defults to 50), 0 dissables keypad
PHYSICAL_KEYPAD_DEFAULT_DELAY = 100

# If set to 0 the uart keypad emmulation is completly dissabled (defults to 0)
ALLOW_UART_KEYPAD_EMMULATION = 1

# If set to 0 the uart keypad emmulation is dissabled (defults to 0)
UART_KEYPAD_EMMULATION_DEFAULT_STATE = 1

# Sets the clock frequency of the SPI, defults to 30 MHz
SPI_CLOCK_FREQUENCY = 30000000

# Sets a minimum time between PRG_EXIT intertupts in milliseconds
PRG_EXIT_DEBOUNCE_TIME = 1000

# Sets the delay time were the HCR's latch is active (In cycles not any specfic unit of time)
HARDWARE_CONTROLL_REGISTER_LATCH_DELAY = 1000

# Sets the delay time were the keypad input's latch is active (In cycles not any specfic unit of time)
KEYPAD_INPUT_LATCH_DELAY = 1000