# This file deffines infomation for the kernal to use when loading

# Simple all infomation to be loaded into one sector
# to be used when elf is unavlible 
APPLICATION_TYPE = MONOLITHIC

# Uncomment to force the kenral to use a specifc size for the main program 
# (set to zeros or extra bytes)
#MONOLITHIC_PAGE_SIZE = ...

# Size of stack in bytes
# kernal will guarantee this for us, set to zero to have no stack allocation (defaults to 1 kib)
MINIUM_STACK_SIZE = 2048

# Address to load program into
PROGRAM_ADDRESS = 0x40000000

# Address to start execution at (defaults to PROGRAM_ADDRESS)
PROGRAM_ENTRY = 0x40000000

# If set to 0 program memory is read only (defaults to zero)
PROGRAM_MEMORY_WRITABILITY = 0

# Used to tell the kernel what ABI version is expected (defaults to zero)
ABI_VERSION = 0

# Path to image file (relitive to this file)
IMAGE_PATH = "vmemtst.img"