## TODO: over scan, resolution, font, screen printing, baudrate overides

# Sets the main app to open that will be used as the user interface
MAIN_INTERFACE_APP = "user/apps/fiotest.cfg"

# If set to 0 the physical keypad is completly dissabled (defults to 1)
ALLOW_PHYSICAL_KEYPAD = 1

# The delay between keypad frames for the physcial keypad (in milliseconds) (defults to 50), 0 dissables keypad
PHYSICAL_KEYPAD_DEFAULT_DELAY = 50

# If set to 0 the uart keypad emmulation is completly dissabled (defults to 0)
ALLOW_UART_KEYPAD_EMMULATION = 1

# If set to 0 the uart keypad emmulation is dissabled (defults to 0)
UART_KEYPAD_EMMULATION_DEFAULT_STATE = 1